
@model CheeseMVC.ViewModels.ViewMenuViewModel


@{
    ViewBag.Title = Model.Menu.Name;
}

<h1>@Model.Menu.Name</h1>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <td>Type</td>
    </tr>

    @foreach (var cheese in Model.Items)
    {
        <tr>
            <td>@cheese.Cheese.Name</td>
            <td>@cheese.Cheese.Description</td>
            <td>@cheese.Cheese.Category.Name</td>
        </tr>
    }
</table>

@if (Model.Items.Count == 0)
{
    <p>No cheeses yet!</p>
}

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Menu Item</a></p>

